<header>
    <div class="header-container">
        <a href="index.html" class="logo">Cultura Imersiva</a>
        
        <nav class="main-nav">
            <ul>
                <li><a href="#">Animes</a></li>
                <li><a href="#">HQs</a></li>
                <li><a href="#">Top Avaliados</a></li>
                <li><a href="#">Meus Favoritos</a></li>
            </ul>
        </nav>

        <div class="user-actions">
            <a href="#" class="login-btn">Entre</a>
        </div>
    </div>
</header>